@font-face {
  font-family: 'oxproto';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/oxproto/oxproto.woff2');
}
@font-face {
  font-family: 'font3270';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/font3270/font3270.ttf');
}
@font-face {
  font-family: 'agave';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/agave/agave.ttf');
}
@font-face {
  font-family: 'anka-coder';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/anka-coder/anka-coder-bold-italic.ttf');
}
@font-face {
  font-family: 'anka-coder';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/anka-coder/anka-coder-bold.ttf');
}
@font-face {
  font-family: 'anka-coder';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/anka-coder/anka-coder-italic.ttf');
}
@font-face {
  font-family: 'anka-coder';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/anka-coder/anka-coder.ttf');
}
@font-face {
  font-family: 'anonymous-pro';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/anonymous-pro/anonymous-pro-bold-italic.ttf');
}
@font-face {
  font-family: 'anonymous-pro';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/anonymous-pro/anonymous-pro-bold.ttf');
}
@font-face {
  font-family: 'anonymous-pro';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/anonymous-pro/anonymous-pro-italic.ttf');
}
@font-face {
  font-family: 'anonymous-pro';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/anonymous-pro/anonymous-pro.ttf');
}
@font-face {
  font-family: 'apl2741';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/apl2741/apl2741.ttf');
}
@font-face {
  font-family: 'apl385';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/apl385/apl385.ttf');
}
@font-face {
  font-family: 'atkinson-hyperlegible';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/atkinson-hyperlegible/atkinson-hyperlegible-bold-italic.woff2');
}
@font-face {
  font-family: 'atkinson-hyperlegible';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/atkinson-hyperlegible/atkinson-hyperlegible-bold.woff2');
}
@font-face {
  font-family: 'atkinson-hyperlegible';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/atkinson-hyperlegible/atkinson-hyperlegible-italic.woff2');
}
@font-face {
  font-family: 'atkinson-hyperlegible';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/atkinson-hyperlegible/atkinson-hyperlegible.woff2');
}
@font-face {
  font-family: 'audio-link';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/audio-link/audio-link-bold.ttf');
}
@font-face {
  font-family: 'audio-link';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/audio-link/audio-link.ttf');
}
@font-face {
  font-family: 'aurulent';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/aurulent/aurulent.otf');
}
@font-face {
  font-family: 'average';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/average/average-bold.woff');
}
@font-face {
  font-family: 'average';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/average/average-bold-italic.woff');
}
@font-face {
  font-family: 'average';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/average/average-italic.woff');
}
@font-face {
  font-family: 'average';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/average/average.woff');
}
@font-face {
  font-family: 'azeret';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/azeret/azeret-bold-italic.ttf');
}
@font-face {
  font-family: 'azeret';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/azeret/azeret-bold.ttf');
}
@font-face {
  font-family: 'azeret';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/azeret/azeret-italic.ttf');
}
@font-face {
  font-family: 'azeret';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/azeret/azeret.ttf');
}
@font-face {
  font-family: 'bedstead';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/bedstead/bedstead.otf');
}
@font-face {
  font-family: 'b612-mono';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/b612-mono/b612-mono-bold-italic.ttf');
}
@font-face {
  font-family: 'b612-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/b612-mono/b612-mono-bold.ttf');
}
@font-face {
  font-family: 'b612-mono';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/b612-mono/b612-mono-italic.ttf');
}
@font-face {
  font-family: 'b612-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/b612-mono/b612-mono.ttf');
}
@font-face {
  font-family: 'bigblue-terminal';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/bigblue-terminal/bigblue-terminal.ttf');
}
@font-face {
  font-family: 'binchotan-sharp';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/binchotan-sharp/binchotan-sharp.ttf');
}
@font-face {
  font-family: 'bitstream-vera';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/bitstream-vera/bitstream-vera-bold-italic.woff');
}
@font-face {
  font-family: 'bitstream-vera';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/bitstream-vera/bitstream-vera-bold.woff');
}
@font-face {
  font-family: 'bitstream-vera';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/bitstream-vera/bitstream-vera-italic.woff');
}
@font-face {
  font-family: 'bitstream-vera';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/bitstream-vera/bitstream-vera.woff');
}
@font-face {
  font-family: 'borg-sans-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/borg-sans-mono/borg-sans-mono.ttf');
}
@font-face {
  font-family: 'bpmono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/bpmono/bpmono-bold.woff');
}
@font-face {
  font-family: 'bpmono';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/bpmono/bpmono-italic.woff');
}
@font-face {
  font-family: 'bpmono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/bpmono/bpmono.woff');
}
@font-face {
  font-family: 'bront-ubuntu';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/bront-ubuntu/bront-ubuntu.ttf');
}
@font-face {
  font-family: 'bront-dejavu';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/bront-dejavu/bront-dejavu.ttf');
}
@font-face {
  font-family: 'camingocode';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/camingocode/camingocode-bold-italic.woff');
}
@font-face {
  font-family: 'camingocode';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/camingocode/camingocode-bold.woff');
}
@font-face {
  font-family: 'camingocode';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/camingocode/camingocode-italic.woff');
}
@font-face {
  font-family: 'camingocode';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/camingocode/camingocode.woff');
}
@font-face {
  font-family: 'cartograph';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/cartograph/cartograph-bold-italic.woff');
}
@font-face {
  font-family: 'cartograph';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/cartograph/cartograph-bold.woff');
}
@font-face {
  font-family: 'cartograph';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/cartograph/cartograph-italic.woff');
}
@font-face {
  font-family: 'cartograph';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/cartograph/cartograph.woff');
}
@font-face {
  font-family: 'cascadia-code';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/cascadia-code/cascadia-code-bold-italic.woff2');
}
@font-face {
  font-family: 'cascadia-code';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/cascadia-code/cascadia-code-bold.woff2');
}
@font-face {
  font-family: 'cascadia-code';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/cascadia-code/cascadia-code-italic.woff2');
}
@font-face {
  font-family: 'cascadia-code';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/cascadia-code/cascadia-code.woff2');
}
@font-face {
  font-family: 'chivo';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/chivo/chivo-bold-italic.ttf');
}
@font-face {
  font-family: 'chivo';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/chivo/chivo-bold.ttf');
}
@font-face {
  font-family: 'chivo';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/chivo/chivo-italic.ttf');
}
@font-face {
  font-family: 'chivo';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/chivo/chivo.ttf');
}
@font-face {
  font-family: 'cm-unicode';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/cm-unicode/cm-unicode-bold-italic.ttf');
}
@font-face {
  font-family: 'cm-unicode';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/cm-unicode/cm-unicode-bold.ttf');
}
@font-face {
  font-family: 'cm-unicode';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/cm-unicode/cm-unicode-italic.ttf');
}
@font-face {
  font-family: 'cm-unicode';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/cm-unicode/cm-unicode.ttf');
}
@font-face {
  font-family: 'code-new-roman';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/code-new-roman/code-new-roman.otf');
}
@font-face {
  font-family: 'comic-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/comic-mono/comic-mono-bold.ttf');
}
@font-face {
  font-family: 'comic-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/comic-mono/comic-mono.ttf');
}
@font-face {
  font-family: 'comic-shanns';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/comic-shanns/comic-shanns.otf');
}
@font-face {
  font-family: 'commit-mono';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/commit-mono/commit-mono-bold-italic.otf');
}
@font-face {
  font-family: 'commit-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/commit-mono/commit-mono-bold.otf');
}
@font-face {
  font-family: 'commit-mono';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/commit-mono/commit-mono-italic.otf');
}
@font-face {
  font-family: 'commit-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/commit-mono/commit-mono.otf');
}
@font-face {
  font-family: 'consolamono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/consolamono/consolamono-bold.ttf');
}
@font-face {
  font-family: 'consolamono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/consolamono/consolamono.ttf');
}
@font-face {
  font-family: 'courier-prime';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/courier-prime/courier-prime-bold-italic.ttf');
}
@font-face {
  font-family: 'courier-prime';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/courier-prime/courier-prime-bold.ttf');
}
@font-face {
  font-family: 'courier-prime';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/courier-prime/courier-prime-italic.ttf');
}
@font-face {
  font-family: 'courier-prime';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/courier-prime/courier-prime.ttf');
}
@font-face {
  font-family: 'courier-prime-code';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/courier-prime-code/courier-prime-code-italic.ttf');
}
@font-face {
  font-family: 'courier-prime-code';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/courier-prime-code/courier-prime-code.ttf');
}
@font-face {
  font-family: 'courier-prime-sans';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/courier-prime-sans/courier-prime-sans-bold-italic.ttf');
}
@font-face {
  font-family: 'courier-prime-sans';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/courier-prime-sans/courier-prime-sans-bold.ttf');
}
@font-face {
  font-family: 'courier-prime-sans';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/courier-prime-sans/courier-prime-sans-italic.ttf');
}
@font-face {
  font-family: 'courier-prime-sans';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/courier-prime-sans/courier-prime-sans.ttf');
}
@font-face {
  font-family: 'cousine';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/cousine/cousine-bold-italic.woff');
}
@font-face {
  font-family: 'cousine';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/cousine/cousine-bold.woff');
}
@font-face {
  font-family: 'cousine';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/cousine/cousine-italic.woff');
}
@font-face {
  font-family: 'cousine';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/cousine/cousine.woff');
}
@font-face {
  font-family: 'cozette';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/cozette/cozette.woff');
}
@font-face {
  font-family: 'cutive';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/cutive/cutive.ttf');
}
@font-face {
  font-family: 'd2coding';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/d2coding/d2coding.ttf');
}
@font-face {
  font-family: 'd2coding';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/d2coding/d2coding-bold.ttf');
}
@font-face {
  font-family: 'daddytimemono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/daddytimemono/daddytimemono.ttf');
}
@font-face {
  font-family: 'dejavu';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/dejavu/dejavu-bold-italic.woff');
}
@font-face {
  font-family: 'dejavu';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/dejavu/dejavu-bold.woff');
}
@font-face {
  font-family: 'dejavu';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/dejavu/dejavu-italic.woff');
}
@font-face {
  font-family: 'dejavu';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/dejavu/dejavu.woff');
}
@font-face {
  font-family: 'departure-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/departure-mono/departure-mono.woff2');
}
@font-face {
  font-family: 'dm-mono';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/dm-mono/dm-mono-italic.woff');
}
@font-face {
  font-family: 'dm-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/dm-mono/dm-mono-regular.woff');
}
@font-face {
  font-family: 'dpsdbeyond';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/dpsdbeyond/dpsdbeyond.otf');
}
@font-face {
  font-family: 'drafting';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/drafting/drafting-bold-italic.woff2');
}
@font-face {
  font-family: 'drafting';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/drafting/drafting-bold.woff2');
}
@font-face {
  font-family: 'drafting';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/drafting/drafting-italic.woff2');
}
@font-face {
  font-family: 'drafting';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/drafting/drafting.woff2');
}
@font-face {
  font-family: 'droid-sans';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/droid-sans/droid-sans.woff');
}
@font-face {
  font-family: 'edlo';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/edlo/edlo.ttf');
}
@font-face {
  font-family: 'effects-eighty';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/effects-eighty/effects-eighty-bold-italic.otf');
}
@font-face {
  font-family: 'effects-eighty';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/effects-eighty/effects-eighty-bold.otf');
}
@font-face {
  font-family: 'effects-eighty';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/effects-eighty/effects-eighty-italic.otf');
}
@font-face {
  font-family: 'effects-eighty';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/effects-eighty/effects-eighty.otf');
}
@font-face {
  font-family: 'eirian';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/eirian/eirian-italic.woff2');
}
@font-face {
  font-family: 'eirian';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/eirian/eirian.woff2');
}
@font-face {
  font-family: 'ellograph';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/ellograph/ellograph-bold-italic.woff');
}
@font-face {
  font-family: 'ellograph';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/ellograph/ellograph-bold.woff');
}
@font-face {
  font-family: 'ellograph';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/ellograph/ellograph-italic.woff');
}
@font-face {
  font-family: 'ellograph';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/ellograph/ellograph.woff');
}
@font-face {
  font-family: 'envy-code-b';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/envy-code-b/envy-code-b.ttf');
}
@font-face {
  font-family: 'envy-code-r';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/envy-code-r/envy-code-r-bold.woff');
}
@font-face {
  font-family: 'envy-code-r';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/envy-code-r/envy-code-r-italic.woff');
}
@font-face {
  font-family: 'envy-code-r';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/envy-code-r/envy-code-r.woff');
}
@font-face {
  font-family: 'fairfax';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/fairfax/fairfax-bold.ttf');
}
@font-face {
  font-family: 'fairfax';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/fairfax/fairfax-italic.ttf');
}
@font-face {
  font-family: 'fairfax';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/fairfax/fairfax.ttf');
}
@font-face {
  font-family: 'fairfax-hd';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/fairfax-hd/fairfax-hd.ttf');
}
@font-face {
  font-family: 'fairfax-hd-hax';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/fairfax-hd-hax/fairfax-hd-hax.ttf');
}
@font-face {
  font-family: 'fairfax-serif';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/fairfax-serif/fairfax-serif.ttf');
}
@font-face {
  font-family: 'fantasque-sans';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/fantasque-sans/fantasque-sans-bold-italic.woff');
}
@font-face {
  font-family: 'fantasque-sans';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/fantasque-sans/fantasque-sans-bold.woff');
}
@font-face {
  font-family: 'fantasque-sans';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/fantasque-sans/fantasque-sans-italic.woff');
}
@font-face {
  font-family: 'fantasque-sans';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/fantasque-sans/fantasque-sans.woff');
}
@font-face {
  font-family: 'fifteen';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/fifteen/fifteen.ttf');
}
@font-face {
  font-family: 'fira';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/fira/fira-bold.woff');
}
@font-face {
  font-family: 'fira';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/fira/fira.woff');
}
@font-face {
  font-family: 'firacode';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/firacode/firacode-bold.woff2');
}
@font-face {
  font-family: 'firacode';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/firacode/firacode.woff2');
}
@font-face {
  font-family: 'fixedsys';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/fixedsys/fixedsys.woff');
}
@font-face {
  font-family: 'fixedsys-ligatures';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/fixedsys-ligatures/fixedsys-ligatures.ttf');
}
@font-face {
  font-family: 'fragment-mono';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/fragment-mono/fragment-mono-italic.woff2');
}
@font-face {
  font-family: 'fragment-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/fragment-mono/fragment-mono.woff2');
}
@font-face {
  font-family: 'geist';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/geist/geist-bold.woff2');
}
@font-face {
  font-family: 'geist';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/geist/geist.woff2');
}
@font-face {
  font-family: 'generic';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/generic/generic.otf');
}
@font-face {
  font-family: 'gintronic';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/gintronic/gintronic-italic.woff2');
}
@font-face {
  font-family: 'gintronic';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/gintronic/gintronic.woff2');
}
@font-face {
  font-family: 'gnu-freefont';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/gnu-freefont/gnu-freefont-bold-italic.woff');
}
@font-face {
  font-family: 'gnu-freefont';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/gnu-freefont/gnu-freefont-bold.woff');
}
@font-face {
  font-family: 'gnu-freefont';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/gnu-freefont/gnu-freefont-italic.woff');
}
@font-face {
  font-family: 'gnu-freefont';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/gnu-freefont/gnu-freefont.woff');
}
@font-face {
  font-family: 'go-mono';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/go-mono/go-mono-bold-italic.ttf');
}
@font-face {
  font-family: 'go-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/go-mono/go-mono-bold.ttf');
}
@font-face {
  font-family: 'go-mono';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/go-mono/go-mono-italic.ttf');
}
@font-face {
  font-family: 'go-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/go-mono/go-mono.ttf');
}
@font-face {
  font-family: 'gohufont-11';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/gohufont-11/gohufont-11.ttf');
}
@font-face {
  font-family: 'gohufont-14';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/gohufont-14/gohufont-14.ttf');
}
@font-face {
  font-family: 'hack';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/hack/hack-bold-italic.woff');
}
@font-face {
  font-family: 'hack';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/hack/hack-bold.woff');
}
@font-face {
  font-family: 'hack';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/hack/hack-italic.woff');
}
@font-face {
  font-family: 'hack';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/hack/hack.woff');
}
@font-face {
  font-family: 'hasklig';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/hasklig/hasklig-bold-italic.otf');
}
@font-face {
  font-family: 'hasklig';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/hasklig/hasklig-bold.otf');
}
@font-face {
  font-family: 'hasklig';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/hasklig/hasklig-italic.otf');
}
@font-face {
  font-family: 'hasklig';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/hasklig/hasklig.otf');
}
@font-face {
  font-family: 'hermit';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/hermit/hermit-bold-italic.woff2');
}
@font-face {
  font-family: 'hermit';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/hermit/hermit-bold.woff2');
}
@font-face {
  font-family: 'hermit';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/hermit/hermit-italic.woff2');
}
@font-face {
  font-family: 'hermit';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/hermit/hermit.woff2');
}
@font-face {
  font-family: 'heterodox-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/heterodox-mono/heterodox-mono-bold.otf');
}
@font-face {
  font-family: 'heterodox-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/heterodox-mono/heterodox-mono.otf');
}
@font-face {
  font-family: 'ia-writer-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/ia-writer-mono/ia-writer-mono.woff');
}
@font-face {
  font-family: 'ia-writer-mono';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/ia-writer-mono/ia-writer-mono-italic.woff');
}
@font-face {
  font-family: 'ia-writer-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/ia-writer-mono/ia-writer-mono-bold.woff');
}
@font-face {
  font-family: 'ia-writer-mono';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/ia-writer-mono/ia-writer-mono-bold-italic.woff');
}
@font-face {
  font-family: 'ibm-vga';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/ibm-vga/ibm-vga.woff');
}
@font-face {
  font-family: 'intel-one-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/intel-one-mono/intel-one-mono.woff2');
}
@font-face {
  font-family: 'intel-one-mono';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/intel-one-mono/intel-one-mono-italic.woff2');
}
@font-face {
  font-family: 'intel-one-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/intel-one-mono/intel-one-mono-bold.woff2');
}
@font-face {
  font-family: 'intel-one-mono';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/intel-one-mono/intel-one-mono-bolditalic.woff2');
}
@font-face {
  font-family: 'iosevka';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/iosevka/iosevka.woff2');
}
@font-face {
  font-family: 'iosevka';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/iosevka/iosevka-italic.woff2');
}
@font-face {
  font-family: 'iosevka';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/iosevka/iosevka-bold.woff2');
}
@font-face {
  font-family: 'iosevka';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/iosevka/iosevka-bold-italic.woff2');
}
@font-face {
  font-family: 'inconsolata';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/inconsolata/inconsolata-bold.ttf');
}
@font-face {
  font-family: 'inconsolata';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/inconsolata/inconsolata.ttf');
}
@font-face {
  font-family: 'inconsolata-otf';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/inconsolata-otf/inconsolata-otf.otf');
}
@font-face {
  font-family: 'indicate';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/indicate/indicate.woff2');
}
@font-face {
  font-family: 'inconsolata-go';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/inconsolata-go/inconsolata-go-bold.ttf');
}
@font-face {
  font-family: 'inconsolata-go';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/inconsolata-go/inconsolata-go.ttf');
}
@font-face {
  font-family: 'inconsolata-g';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/inconsolata-g/inconsolata-g.otf');
}
@font-face {
  font-family: 'jetbrainsmono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/jetbrainsmono/jetbrainsmono.woff2');
}
@font-face {
  font-family: 'jetbrainsmono';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/jetbrainsmono/jetbrainsmono-italic.woff2');
}
@font-face {
  font-family: 'jetbrainsmono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/jetbrainsmono/jetbrainsmono-bold.woff2');
}
@font-face {
  font-family: 'jetbrainsmono';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/jetbrainsmono/jetbrainsmono-bold-italic.woff2');
}
@font-face {
  font-family: 'julia-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/julia-mono/julia-mono-bold.ttf');
}
@font-face {
  font-family: 'julia-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/julia-mono/julia-mono.ttf');
}
@font-face {
  font-family: 'latin-modern';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/latin-modern/latin-modern-italic.woff');
}
@font-face {
  font-family: 'latin-modern';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/latin-modern/latin-modern.woff');
}
@font-face {
  font-family: 'league';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/league/league-bold.woff');
}
@font-face {
  font-family: 'league';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/league/league.woff');
}
@font-face {
  font-family: 'lekton';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/lekton/lekton-bold.ttf');
}
@font-face {
  font-family: 'lekton';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/lekton/lekton-italic.ttf');
}
@font-face {
  font-family: 'lekton';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/lekton/lekton.ttf');
}
@font-face {
  font-family: 'liberation';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/liberation/liberation-bold-italic.woff');
}
@font-face {
  font-family: 'liberation';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/liberation/liberation-bold.woff');
}
@font-face {
  font-family: 'liberation';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/liberation/liberation-italic.woff');
}
@font-face {
  font-family: 'liberation';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/liberation/liberation.woff');
}
@font-face {
  font-family: 'lilex';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/lilex/lilex-regular.woff');
}
@font-face {
  font-family: 'lilex';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/lilex/lilex-bold.woff');
}
@font-face {
  font-family: 'lotion';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/lotion/lotion.woff2');
}
@font-face {
  font-family: 'luculent';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/luculent/luculent-bold-italic.woff');
}
@font-face {
  font-family: 'luculent';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/luculent/luculent-bold.woff');
}
@font-face {
  font-family: 'luculent';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/luculent/luculent-italic.woff');
}
@font-face {
  font-family: 'luculent';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/luculent/luculent.woff');
}
@font-face {
  font-family: 'luxi';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/luxi/luxi-bold-italic.woff');
}
@font-face {
  font-family: 'luxi';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/luxi/luxi-bold.woff');
}
@font-face {
  font-family: 'luxi';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/luxi/luxi-italic.woff');
}
@font-face {
  font-family: 'luxi';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/luxi/luxi.woff');
}
@font-face {
  font-family: 'maple';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/maple/maple-bold-italic.woff2');
}
@font-face {
  font-family: 'maple';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/maple/maple-bold.woff2');
}
@font-face {
  font-family: 'maple';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/maple/maple-italic.woff2');
}
@font-face {
  font-family: 'maple';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/maple/maple.woff2');
}
@font-face {
  font-family: 'martian-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/martian-mono/martian-mono-bold.woff2');
}
@font-face {
  font-family: 'martian-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/martian-mono/martian-mono.woff2');
}
@font-face {
  font-family: 'mensch';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/mensch/mensch.ttf');
}
@font-face {
  font-family: 'meslo';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/meslo/meslo-bold-italic.woff');
}
@font-face {
  font-family: 'meslo';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/meslo/meslo-bold.woff');
}
@font-face {
  font-family: 'meslo';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/meslo/meslo-italic.woff');
}
@font-face {
  font-family: 'meslo';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/meslo/meslo.woff');
}
@font-face {
  font-family: 'monaspace-argon';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/monaspace-argon/monaspace-argon-bold-italic.woff');
}
@font-face {
  font-family: 'monaspace-argon';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/monaspace-argon/monaspace-argon-bold.woff');
}
@font-face {
  font-family: 'monaspace-argon';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/monaspace-argon/monaspace-argon-italic.woff');
}
@font-face {
  font-family: 'monaspace-argon';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/monaspace-argon/monaspace-argon.woff');
}
@font-face {
  font-family: 'monaspace-krypton';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/monaspace-krypton/monaspace-krypton-bold-italic.woff');
}
@font-face {
  font-family: 'monaspace-krypton';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/monaspace-krypton/monaspace-krypton-bold.woff');
}
@font-face {
  font-family: 'monaspace-krypton';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/monaspace-krypton/monaspace-krypton-italic.woff');
}
@font-face {
  font-family: 'monaspace-krypton';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/monaspace-krypton/monaspace-krypton.woff');
}
@font-face {
  font-family: 'monaspace-neon';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/monaspace-neon/monaspace-neon-bold-italic.woff');
}
@font-face {
  font-family: 'monaspace-neon';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/monaspace-neon/monaspace-neon-bold.woff');
}
@font-face {
  font-family: 'monaspace-neon';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/monaspace-neon/monaspace-neon-italic.woff');
}
@font-face {
  font-family: 'monaspace-neon';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/monaspace-neon/monaspace-neon.woff');
}
@font-face {
  font-family: 'monaspace-radon';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/monaspace-radon/monaspace-radon-bold-italic.woff');
}
@font-face {
  font-family: 'monaspace-radon';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/monaspace-radon/monaspace-radon-bold.woff');
}
@font-face {
  font-family: 'monaspace-radon';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/monaspace-radon/monaspace-radon-italic.woff');
}
@font-face {
  font-family: 'monaspace-radon';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/monaspace-radon/monaspace-radon.woff');
}
@font-face {
  font-family: 'monaspace-xenon';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/monaspace-xenon/monaspace-xenon-bold-italic.woff');
}
@font-face {
  font-family: 'monaspace-xenon';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/monaspace-xenon/monaspace-xenon-bold.woff');
}
@font-face {
  font-family: 'monaspace-xenon';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/monaspace-xenon/monaspace-xenon-italic.woff');
}
@font-face {
  font-family: 'monaspace-xenon';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/monaspace-xenon/monaspace-xenon.woff');
}
@font-face {
  font-family: 'monocraft';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/monocraft/monocraft.ttf');
}
@font-face {
  font-family: 'monoflow';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/monoflow/monoflow-italic.woff2');
}
@font-face {
  font-family: 'monoflow';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/monoflow/monoflow.woff2');
}
@font-face {
  font-family: 'monofoki';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/monofoki/monofoki-bold-italic.otf');
}
@font-face {
  font-family: 'monofoki';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/monofoki/monofoki-bold.otf');
}
@font-face {
  font-family: 'monofoki';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/monofoki/monofoki-italic.otf');
}
@font-face {
  font-family: 'monofoki';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/monofoki/monofoki.otf');
}
@font-face {
  font-family: 'monofur';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/monofur/monofur-italic.woff');
}
@font-face {
  font-family: 'monofur';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/monofur/monofur.woff');
}
@font-face {
  font-family: 'monoid';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/monoid/monoid-bold.ttf');
}
@font-face {
  font-family: 'monoid';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/monoid/monoid-italic.ttf');
}
@font-face {
  font-family: 'monoid';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/monoid/monoid.ttf');
}
@font-face {
  font-family: 'mononoki';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/mononoki/mononoki-bold-italic.woff');
}
@font-face {
  font-family: 'mononoki';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/mononoki/mononoki-bold.woff');
}
@font-face {
  font-family: 'mononoki';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/mononoki/mononoki-italic.woff');
}
@font-face {
  font-family: 'mononoki';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/mononoki/mononoki.woff');
}
@font-face {
  font-family: 'mplus';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/mplus/mplus-bold.ttf');
}
@font-face {
  font-family: 'mplus';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/mplus/mplus.ttf');
}
@font-face {
  font-family: 'nanum-gothic-coding';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/nanum-gothic-coding/nanum-gothic-coding-bold.ttf');
}
@font-face {
  font-family: 'nanum-gothic-coding';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/nanum-gothic-coding/nanum-gothic-coding.ttf');
}
@font-face {
  font-family: 'nk57';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/nk57/nk57-bold-italic.otf');
}
@font-face {
  font-family: 'nk57';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/nk57/nk57-bold.otf');
}
@font-face {
  font-family: 'nk57';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/nk57/nk57-italic.otf');
}
@font-face {
  font-family: 'nk57';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/nk57/nk57.otf');
}
@font-face {
  font-family: 'notcouriersans';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/notcouriersans/notcouriersans-bold.woff');
}
@font-face {
  font-family: 'notcouriersans';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/notcouriersans/notcouriersans.woff');
}
@font-face {
  font-family: 'noto';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/noto/noto.ttf');
}
@font-face {
  font-family: 'nova';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/nova/nova.ttf');
}
@font-face {
  font-family: 'nova';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/nova/nova.ttf');
}
@font-face {
  font-family: 'office-code-pro';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/office-code-pro/office-code-pro-bold-italic.woff');
}
@font-face {
  font-family: 'office-code-pro';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/office-code-pro/office-code-pro-bold.woff');
}
@font-face {
  font-family: 'office-code-pro';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/office-code-pro/office-code-pro-italic.woff');
}
@font-face {
  font-family: 'office-code-pro';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/office-code-pro/office-code-pro.woff');
}
@font-face {
  font-family: 'opendyslexic';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/opendyslexic/opendyslexic.otf');
}
@font-face {
  font-family: 'overpass';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/overpass/overpass.woff');
}
@font-face {
  font-family: 'overpass';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/overpass/overpass.woff');
}
@font-face {
  font-family: 'oxygen';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/oxygen/oxygen.otf');
}
@font-face {
  font-family: 'plex-mono';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/plex-mono/plex-mono-semibold-italic.woff');
}
@font-face {
  font-family: 'plex-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/plex-mono/plex-mono-semibold.woff');
}
@font-face {
  font-family: 'plex-mono';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/plex-mono/plex-mono-italic.woff');
}
@font-face {
  font-family: 'plex-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/plex-mono/plex-mono.woff');
}
@font-face {
  font-family: 'press-start-2p';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/press-start-2p/press-start-2p.ttf');
}
@font-face {
  font-family: 'profont';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/profont/profont.woff');
}
@font-face {
  font-family: 'proggy-clean';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/proggy-clean/proggy-clean.woff');
}
@font-face {
  font-family: 'proggy-vector';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/proggy-vector/proggy-vector.woff');
}
@font-face {
  font-family: 'pt';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/pt/pt.woff');
}
@font-face {
  font-family: 'pt';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/pt/pt-bold.woff');
}
@font-face {
  font-family: 'quinze';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/quinze/quinze.ttf');
}
@font-face {
  font-family: 'recursive-mono-linear';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/recursive-mono-linear/recursive-mono-linear-bold-italic.ttf');
}
@font-face {
  font-family: 'recursive-mono-linear';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/recursive-mono-linear/recursive-mono-linear-bold.ttf');
}
@font-face {
  font-family: 'recursive-mono-linear';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/recursive-mono-linear/recursive-mono-linear-italic.ttf');
}
@font-face {
  font-family: 'recursive-mono-linear';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/recursive-mono-linear/recursive-mono-linear.ttf');
}
@font-face {
  font-family: 'reddit-sans';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/reddit-sans/reddit-sans-bold.woff2');
}
@font-face {
  font-family: 'reddit-sans';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/reddit-sans/reddit-sans.woff2');
}
@font-face {
  font-family: 'redhat';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/redhat/redhat-bold-italic.woff2');
}
@font-face {
  font-family: 'redhat';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/redhat/redhat-bold.woff2');
}
@font-face {
  font-family: 'redhat';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/redhat/redhat-italic.woff2');
}
@font-face {
  font-family: 'redhat';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/redhat/redhat.woff2');
}
@font-face {
  font-family: 'roboto';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/roboto/roboto-bold-italic.woff');
}
@font-face {
  font-family: 'roboto';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/roboto/roboto-bold.woff');
}
@font-face {
  font-family: 'roboto';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/roboto/roboto-italic.woff');
}
@font-face {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/roboto/roboto.woff');
}
@font-face {
  font-family: 'sax';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/sax/sax.woff');
}
@font-face {
  font-family: 'scientifica';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/scientifica/scientifica.ttf');
}
@font-face {
  font-family: 'scientifica';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/scientifica/scientifica-bold.ttf');
}
@font-face {
  font-family: 'scientifica';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/scientifica/scientifica-italic.ttf');
}
@font-face {
  font-family: 'serious-shanns';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/serious-shanns/serious-shanns-bold-italic.otf');
}
@font-face {
  font-family: 'serious-shanns';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/serious-shanns/serious-shanns-bold.otf');
}
@font-face {
  font-family: 'serious-shanns';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/serious-shanns/serious-shanns-italic.otf');
}
@font-face {
  font-family: 'serious-shanns';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/serious-shanns/serious-shanns.otf');
}
@font-face {
  font-family: 'share-tech';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/share-tech/share-tech.ttf');
}
@font-face {
  font-family: 'sk-modernist';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/sk-modernist/sk-modernist.woff');
}
@font-face {
  font-family: 'sligoil';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/sligoil/sligoil.woff2');
}
@font-face {
  font-family: 'sono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/sono/sono-bold.woff2');
}
@font-face {
  font-family: 'sono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/sono/sono.woff2');
}
@font-face {
  font-family: 'source-code-pro';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/source-code-pro/source-code-pro-bold.woff');
}
@font-face {
  font-family: 'source-code-pro';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/source-code-pro/source-code-pro.woff');
}
@font-face {
  font-family: 'source-code-pro';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/source-code-pro/source-code-pro-bold-italic.woff');
}
@font-face {
  font-family: 'source-code-pro';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/source-code-pro/source-code-pro-italic.woff');
}
@font-face {
  font-family: 'space';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/space/space-bold.ttf');
}
@font-face {
  font-family: 'space';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/space/space.ttf');
}
@font-face {
  font-family: 'space';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/space/space-bold-italic.ttf');
}
@font-face {
  font-family: 'space';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/space/space-italic.ttf');
}
@font-face {
  font-family: 'spleen';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/spleen/spleen.otf');
}
@font-face {
  font-family: 'sudo';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/sudo/sudo-bold-italic.ttf');
}
@font-face {
  font-family: 'sudo';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/sudo/sudo-bold.ttf');
}
@font-face {
  font-family: 'sudo';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/sudo/sudo-italic.ttf');
}
@font-face {
  font-family: 'sudo';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/sudo/sudo.ttf');
}
@font-face {
  font-family: 'sometype-mono';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/sometype-mono/sometype-mono-bold-italic.woff');
}
@font-face {
  font-family: 'sometype-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/sometype-mono/sometype-mono-bold.woff');
}
@font-face {
  font-family: 'sometype-mono';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/sometype-mono/sometype-mono-regular-italic.woff');
}
@font-face {
  font-family: 'sometype-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/sometype-mono/sometype-mono-regular.woff');
}
@font-face {
  font-family: 'tex-gyre-cursor';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/tex-gyre-cursor/tex-gyre-cursor-bold-italic.woff');
}
@font-face {
  font-family: 'tex-gyre-cursor';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/tex-gyre-cursor/tex-gyre-cursor-bold.woff');
}
@font-face {
  font-family: 'tex-gyre-cursor';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/tex-gyre-cursor/tex-gyre-cursor-italic.woff');
}
@font-face {
  font-family: 'tex-gyre-cursor';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/tex-gyre-cursor/tex-gyre-cursor.woff');
}
@font-face {
  font-family: 'terminus';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/terminus/terminus-bold-italic.ttf');
}
@font-face {
  font-family: 'terminus';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/terminus/terminus-bold.ttf');
}
@font-face {
  font-family: 'terminus';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/terminus/terminus-italic.ttf');
}
@font-face {
  font-family: 'terminus';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/terminus/terminus.ttf');
}
@font-face {
  font-family: 'twilio-sans-mono';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/twilio-sans-mono/twilio-sans-mono-bold-italic.woff2');
}
@font-face {
  font-family: 'twilio-sans-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/twilio-sans-mono/twilio-sans-mono-bold.woff2');
}
@font-face {
  font-family: 'twilio-sans-mono';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/twilio-sans-mono/twilio-sans-mono-italic.woff2');
}
@font-face {
  font-family: 'twilio-sans-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/twilio-sans-mono/twilio-sans-mono.woff2');
}
@font-face {
  font-family: 'ubuntu';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/ubuntu/ubuntu-bold-italic.ttf');
}
@font-face {
  font-family: 'ubuntu';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/ubuntu/ubuntu-bold.ttf');
}
@font-face {
  font-family: 'ubuntu';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/ubuntu/ubuntu-italic.ttf');
}
@font-face {
  font-family: 'ubuntu';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/ubuntu/ubuntu.ttf');
}
@font-face {
  font-family: 'unifont';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/unifont/unifont.woff');
}
@font-face {
  font-family: 'unifontex';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/unifontex/unifontex.woff');
}
@font-face {
  font-family: 'verily';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/verily/verily.woff');
}
@font-face {
  font-family: 'victor-mono';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/victor-mono/victor-mono.woff');
}
@font-face {
  font-family: 'victor-mono';
  font-weight: normal;
  font-style: italic;
  src: url('../resources/victor-mono/victor-mono-italic.woff');
}
@font-face {
  font-family: 'victor-mono';
  font-weight: bold;
  font-style: normal;
  src: url('../resources/victor-mono/victor-mono-bold.woff');
}
@font-face {
  font-family: 'victor-mono';
  font-weight: bold;
  font-style: italic;
  src: url('../resources/victor-mono/victor-mono-bold-italic.woff');
}
@font-face {
  font-family: 'vt323';
  font-weight: normal;
  font-style: normal;
  src: url('../resources/vt323/vt323.ttf');
}
